.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 2px solid rgb(0, 174, 255);
    border-radius: 8px;
    width: 512px;
    height: 400px;
    padding: 32px;
}

pre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 2px solid rgb(0, 174, 255);
    border-radius: 8px;
    width: 512px;
    height: 400px;
    padding: 32px;
}